
*{
    font-family: 'Hind Guntur', sans-serif;
    font-weight: lighter ;
}

.dashboard_product{
    background-image: url("../img/bg1.jpg") ;
    background-color: rgba(0, 0, 0, 0.336) !important;
    background-blend-mode: color;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-bottom: 1rem;
}
body{
    background-color: #101622!important;
    margin-bottom: 1rem;
}
h1{
    font-family: 'Jockey One', sans-serif;
    font-size: 70px !important;
    display: inline;
}
img{
    width: 100px;
    height:50px;
}
h6{
    color: #CAC0C0;
}
a{
    margin-left: 0.5rem;
    text-decoration: none;
    color: white;
}
button{
    font-family: 'Jockey One', sans-serif;
    background-color: #211522 !important;
}

.Btable{
    background-color: rgba(0, 0, 0, 0.61);
    width: fit-content;
    margin-bottom: 1rem;
    width: 100%;

}
.Btable table{
    width: fit-content;
    width: 100%;
}

.product{
    background-color: rgba(0, 0, 0, 0.842);
    border-radius: 1rem!important;
    width: fit-content;
    width: 100%;
}


.productForm input{
    border-radius: 0.6rem;
    background: transparent;
    width: 100%;
}



.productForm  label{
    font-size: 1rem;
} 

#case:hover{
    background-color: rgba(0, 0, 0, 0.575)!important;
}


@media only screen and (max-width: 768px){

.half{
   display: none;
}
.otherhalf{
   border-radius: 1rem;
   width: fit-content;
}

.dashboard_product .Btable{  
   display: block;
   flex-direction: column;
}

.dashboard_product .Btable table{  
    width: fit-content;
}

.productForm .all{
    display: block;
    flex-direction: column;
}

.statics{
    display: flex;
    align-items: baseline;
}

.statics table{
    margin-right: 1rem;
}

.dashboard_product .bar{
    display: block;
    flex-direction: column;
}


}