
*{
    font-family: 'Hind Guntur', sans-serif;
}

body{
    background-image: url("../img/bg1.jpg") ;
    background-blend-mode: color rgba(0, 0, 0, 0.589) !important;
}
h1{
    font-family: 'Jockey One', sans-serif;
    font-size: 70px !important;
    display: inline;
}
img{
    width: 100px;
    height:50px;
}
h6{
    color: #CAC0C0;

}
a{
    margin-left: 0.5rem;
    text-decoration: none;
    color: white;
}
button{
    font-family: 'Jockey One', sans-serif;
    background-color: #211522 !important;
}

.Btable{
    background-color: rgba(0, 0, 0, 0.74);
}
